<!DOCTYPE html>
<html>
	<style>
		{% block style %}{% endblock %}
	</style>
	<head>
		<meta charset="UTF-8"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			{% include "header.html.twig" %}
			<h2>
				{% block titre %}{% endblock %}
				- CRUDcroustillant
			</h2>
			<div>
				{% block content %}{% endblock %}
			</div>
			{% include "footer.html.twig" %}
		</body>
	</html>
